<% if @page.nil? %>

  <form>
    <input type="text" name="url" />
    <input type="submit" />
  </form>

<% else %>

  <h2>Related Pages</h2>
  <ul>
  <% @page.find_related_tags.each do |page| %>
    <li><a href="<%= page.url %>"><%= page.title %>
  <% end %>
  </ul>

<% end %>
