<div class='discovery-bar'>

<ul class='navigation-bar'>
<li class='left notifications'><a href="/notifications"><span class='notification-label'>Notifications</span><span class="jujitsu">4</span></a></li>
<li class="left testing" id="testing"><a href="#" id="toggle">Toggle</a></li>
<li class='right sign-out'><a href="/sign_out">Sign out</a></li>
<li class='right profile'><a href="/sign_out">Danny</a></li>
</ul>
</div>

