<label for="search">Search:</label> <input type="search" />
<label for="tags">Tags:</label> <input type="text" name="tags" id="tags" value="<%= tag_list %>" />
<button id="save_tags">Save Tags</button>