<div class="discovery-bar">
<ul class="navigation-bar">
<li class="left notifications"><a href="/notifications"><span class="notification-label">Notifications</span><span class="jujitsu">4</span></a></li>
<li class="left search"><a href="/search">Search</a></li>
<li class="left testing" id="testing"><a href="#" id="toggle">Toggle</a></li>
<li class="left related">

<div class="primary">
<h2>More on this topic:</h2>
<ul class="content-list">
<li><a href="#">Link item 1</a></li>
</ul>
</div>

</li>

<li class="left plus-button"><a class="bar-button" href="#">+ <span>more links</span></a></li>

<li class="left tags">

<div class="primary">
<h2>This page is tagged:</h2>
<ul class="content-list">
<li><a href="#">Banana</a></li>
<li><a href="#">Republic</a></li>
</ul>
</div>

</li>

<li class="left plus-button"><a class="bar-button" href="#">+ <span>more tags</span></a></li>


<li class="right sign-out"><a href="/sign_out">Sign out</a></li>
<li class="right profile"><a href="/sign_out">Settings</a></li>

</ul>
</div>

